<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Consolidate multiple Excel files
[![download](https://img.shields.io/static/v1?label=Naas&labelColor=000000&message=Download&color=success&style=for-the-badge&logo=image%2Fsvg%2Bxml%3Bbase64%2CPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTAyNHB4IiBoZWlnaHQ9IjEwMjRweCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIj4KIDwhLS0gR2VuZXJhdGVkIGJ5IFBpeGVsbWF0b3IgUHJvIDIuMC41IC0tPgogPGRlZnM%2BCiAgPHRleHQgaWQ9InN0cmluZyIgdHJhbnNmb3JtPSJtYXRyaXgoMS4wIDAuMCAwLjAgMS4wIDIyOC4wIDU0LjUpIiBmb250LWZhbWlseT0iQ29tZm9ydGFhLVJlZ3VsYXIsIENvbWZvcnRhYSIgZm9udC1zaXplPSI4MDAiIHRleHQtZGVjb3JhdGlvbj0ibm9uZSIgZmlsbD0iI2ZmZmZmZiIgeD0iMS4xOTk5OTk5OTk5OTk5ODg2IiB5PSI3MDUuMCI%2BbjwvdGV4dD4KIDwvZGVmcz4KIDx1c2UgaWQ9Im4iIHhsaW5rOmhyZWY9IiNzdHJpbmciLz4KPC9zdmc%2BCg%3D%3D)](https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Excel/Excel_Read_file.ipynb)

## Read file 1

In [1]:
import pandas as pd 

data1 = pd.read_excel("Excel-Sales_Jan2020.xlsx")
data1

     Month  Year       Item  Amount Currency
0  January  2020  Product A   10000      USD
1  January  2020  Product B  230000      USD
2  January  2020  Product C   50000      USD

## Read file 2

In [4]:
data2 = pd.read_excel("Excel-Sales_Feb2020.xlsx")
data2

     Month  Year       Item  Amount Currency
0  Febuary  2020  Product A  302021      USD
1  Febuary  2020  Product B   39201      USD
2  Febuary  2020  Product C  202320      USD

## Consolidate files

In [5]:
data = pd.concat([data1,data2],axis=0)
data

     Month  Year       Item  Amount Currency
0  January  2020  Product A   10000      USD
1  January  2020  Product B  230000      USD
2  January  2020  Product C   50000      USD
0  Febuary  2020  Product A  302021      USD
1  Febuary  2020  Product B   39201      USD
2  Febuary  2020  Product C  202320      USD

## Export consolidated file

In [6]:
data.to_excel("Conso.xlsx")

## Create a shareable link

In [9]:
import naas 

naas.assets.add("Conso.xlsx")

ðŸ‘Œ Well done! Your Assets has been sent to production.

Button(button_style='primary', description='Copy URL', style=ButtonStyle())

Output()

PS: to remove the "Assets" feature, just replace .add by .delete

'https://public.naas.ai/amVyZW15LTJFcmF2ZW5lbC00MGNhc2hzdG9yeS0yRWNvbQ==/asset/998e7e483ffd484f44b94ab082fdaa3196cee17c19dedbbbb33fb748b1f3'