<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Societe.com - Get societe.ninja
[![download](https://img.shields.io/static/v1?label=&labelColor=000000&message=Open%20in%20Naas&color=success&logo=image%2Fsvg%2Bxml%3Bbase64%2CPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTAyNHB4IiBoZWlnaHQ9IjEwMjRweCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIj4KIDwhLS0gR2VuZXJhdGVkIGJ5IFBpeGVsbWF0b3IgUHJvIDIuMC41IC0tPgogPGRlZnM%2BCiAgPHRleHQgaWQ9InN0cmluZyIgdHJhbnNmb3JtPSJtYXRyaXgoMS4wIDAuMCAwLjAgMS4wIDIyOC4wIDU0LjUpIiBmb250LWZhbWlseT0iQ29tZm9ydGFhLVJlZ3VsYXIsIENvbWZvcnRhYSIgZm9udC1zaXplPSI4MDAiIHRleHQtZGVjb3JhdGlvbj0ibm9uZSIgZmlsbD0iI2ZmZmZmZiIgeD0iMS4xOTk5OTk5OTk5OTk5ODg2IiB5PSI3MDUuMCI%2BbjwvdGV4dD4KIDwvZGVmcz4KIDx1c2UgaWQ9Im4iIHhsaW5rOmhyZWY9IiNzdHJpbmciLz4KPC9zdmc%2BCg%3D%3D)](https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Societe.com/get_societe.ninja.ipynb)

In [1]:
import pandas as pd
data = pd.read_html("https://societe.ninja/data.php?siren=880612569", encoding="UTF-8")

In [2]:
print(len(data))

8

In [3]:
data[0]

                                                   0
0  Unite LegaleBODACCReprésentantsActesEtablissem...

In [4]:
data[1]

             UNITE LEGALE                       UNITE LEGALE.1
0    Dénomination Sociale                            CASHSTORY
1            Siège Social           5 RUE HERMEL75018 PARIS 18
2         Forme Juridique  SAS, société par actions simplifiée
3          Capital Social                         1 000,00 EUR
4         Immatriculation                           26/12/2019
5                  Greffe        Tribunal de Commerce de PARIS
6                N° SIREN                            880612569
7                Code NAF                               62.01Z
8                Activité           Programmation informatique
9  TVA Intracommunautaire                        FR39880612569

In [5]:
data[2]

  ANNONCES BODACC ANNONCES BODACC.1 ANNONCES BODACC.2 ANNONCES BODACC.3
0      23/01/2020             PARIS         Créations          Afficher

In [6]:
data[3]

,REPRESENTANTS,REPRESENTANTS.1,REPRESENTANTS.2
0,NaN,Président,MDM IS (821455730)5 rue Hermel75018 PARIS
1,NaN,Directeur général,FRV Services (877941724)25 rue Francoeur75018 ...

In [7]:
data[4]

,ACTES,ACTES.1,ACTES.2,ACTES.3
0,Date19/12/2019,Dépôt14/01/2020,Document relatif au bénéficiaire effectifStatu...,Télécharger

In [8]:
data[5]

,ETABLISSEMENTS (1),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,88061256900017(siège),62.01Z,Création26/12/2019,NaN,5 RUE HERMEL75018 PARIS 18

In [9]:
data[6]

             SOURCES  Unnamed: 1
0  Répertoire SIRENE         NaN
1    Répertoire RNCS         NaN
2             BODACC         NaN
3         SIRET2IDCC         NaN

In [10]:
data[7]

    0                                                  1   2
0 NaN  Cette page est offerte par OPTIMUS AVOCATS.Sou... NaN