<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Societe.com - Get verif.com
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Societe.com/get_verif.com.ipynb" target="_parent">
<img src="https://img.shields.io/badge/-Open%20in%20Naas-success?labelColor=000000&logo="/>
</a>

In [1]:
import pandas as pd
data = pd.read_html("https://www.verif.com/societe/CASHSTORY-880612569/", encoding="UTF-8")

In [2]:
print(len(data))

4

In [3]:
data[0]

                   0                                                  1
0     Raison sociale                                          CASHSTORY
1              Sigle                                                NaN
2           Enseigne                                                NaN
3         Dirigeants                       2 dirigeant(s)  + de détails
4            Adresse  5 RUE HERMEL  75018 PARIS 18 Retrouvez les soc...
5          Téléphone                              Afficher le téléphone
6                Fax                                                NaN
7    Forme juridique                     Société par action simplifiées
8   Date de création                                Créée le 26/12/2019
9                NaN              Derniers statuts à jour  + de détails
10    Capital Social                                            1 000 €
11             SIREN                                        880 612 569
12             SIRET                                  880 612 569 00017
13     Numéro de TVA        Obtenir le numéro de TVA intracommunautaire
14    Code APE / NAF  6201Z / Programmation informatique  Retrouvez ...

In [25]:
data[1]

                              0                                          1
0  5 RUE HERMEL  75018 PARIS 18  Retrouvez les sociétésdu même département

In [26]:
data[2]

                                    0                                      1
0  6201Z / Programmation informatique  Retrouvez les sociétésdu même secteur

In [27]:
data[3]

                   0             1
0          Président        MDM IS
1  Directeur général  FRV SERVICES