<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# AlphaVantage - Get income statement
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/AlphaVantage/AlphaVantage_Get_fundamental_data.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a>

**Tags:** #trading #market_data

**Author:** [Florent Ravenel](https://www.linkedin.com/in/ACoAABCNSioBW3YZHc2lBHVG0E_TXYWitQkmwog/)

## Input

### Import libraries

In [1]:
import requests
import pandas as pd

### Variables

In [2]:
API_KEY = "demo"
COMPANY = "IBM"

## Model

### Get income statement

In [6]:
response = requests.get(f'https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={COMPANY}&apikey={API_KEY}')
data = response.json()
df = pd.DataFrame(data.get("annualReports"))

## Output

### Display result

In [7]:
df

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2020-12-31,USD,35575000000,73620000000,38046000000,439000000,4609000000,23082000000,6333000000,30966000000,...,4227000000,2468000000,4726000000,-864000000,1288000000,5501000000,4850000000,6014000000,8482000000,5590000000
1,2019-12-31,USD,36488000000,77147000000,40659000000,591000000,9004000000,20604000000,5989000000,27484000000,...,4209000000,1850000000,10162000000,731000000,1344000000,9435000000,10324000000,11506000000,13356000000,9431000000
2,2018-12-31,USD,36936000000,79591000000,42655000000,42655000000,10838000000,19366000000,5379000000,26098000000,...,3127000000,1353000000,11347000000,2619000000,723000000,8723000000,8252000000,12070000000,13423000000,8728000000
3,2017-12-31,USD,36943000000,79139000000,42196000000,41703000000,8813000000,19680000000,5590000000,27414000000,...,3021000000,1520000000,11395000000,5642000000,615000000,5758000000,8559000000,12010000000,13530000000,5753000000
4,2016-12-31,USD,38516000000,79919000000,41403000000,40580000000,9715000000,20869000000,5726000000,28579000000,...,2837000000,1544000000,12321000000,449000000,630000000,11881000000,12081000000,12951000000,14495000000,11872000000