<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Boursorama - Get EURIBOR 3 MOIS

**Tags:** #boursorama #euribor #pandas #read_html #finance #data

**Author:** [Florent Ravenel](http://linkedin.com/in/florent-ravenel)

**Description:** This notebook will show how to get EURIBOR 3 MOIS using pandas.read_html().

**References:**
- [Boursorama](https://www.boursorama.com/bourse/indices/euribor-3-mois-0D0003M0GQ)
- [Pandas.read_html](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html)

## Input

### Import libraries

In [1]:
import pandas as pd

### Setup Variables
- `url`: URL of the Boursorama page to get EURIBOR 3 MOIS

In [2]:
url = "https://www.boursorama.com/bourse/taux/cours/2xERB3MOIS/"

## Model

### Get EURIBOR 3 MOIS
Using `pandas.read_html()` to get the EURIBOR 3 MOIS from the Boursorama page.

In [3]:
tables = pd.read_html(url)

## Output

### Current data

In [4]:
tables[0]

  Unnamed: 0    04-04
0       Der.    3.052
1       Var.  -0.1 BP
2       Ouv.    3.052
3      +Haut    3.052
4       +Bas    3.052
5       Vol.        0

### Historical data

In [5]:
tables[1]

        période       var.  + haut  + bas
0   1er Janvier   +86.8 BP    3.05   2.18
1     1 semaine  +106.8 BP    3.05   1.97
2        1 mois  +131.0 BP    3.05   1.74
3        3 mois  +223.6 BP    3.05   0.82
4        6 mois  +336.6 BP    3.05  -0.31
5          1 an  +361.4 BP    3.05  -0.61
6         3 ans  +344.5 BP    3.05  -0.61
7         5 ans  +337.8 BP    3.05  -0.61
8        10 ans  +286.2 BP    3.05  -0.61
9          MM20        NaN     NaN   1.93
10         MM50        NaN     NaN   1.65
11        MM100        NaN     NaN   1.12
12        RSI14        NaN     NaN  87.42