<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Get Stripe charges data

In [1]:
pip install stripe

Collecting stripe
  Downloading stripe-2.55.1-py2.py3-none-any.whl (204 kB)
     |████████████████████████████████| 204 kB 20.7 MB/s eta 0:00:01
Requirement already satisfied: requests>=2.20 in /opt/conda/lib/python3.8/site-packages (from stripe) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests>=2.20->stripe) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests>=2.20->stripe) (1.26.2)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests>=2.20->stripe) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests>=2.20->stripe) (3.0.4)
Installing collected packages: stripe
Successfully installed stripe-2.55.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
api_key = "sk_test_4eC39HqLyjWDarjtT1zdp7dc"

In [8]:
import stripe
import pandas as pd

stripe.api_key = api_key

In [12]:
charges = stripe.Charge.list(limit=30)
pd.DataFrame(charges.get('data'))

,id,object,amount,amount_captured,amount_refunded,application,application_fee,application_fee_amount,balance_transaction,billing_details,...,refunds,review,shipping,source,source_transfer,statement_descriptor,statement_descriptor_suffix,status,transfer_data,transfer_group
0,ch_1IEadm2eZvKYlo2Cr0xgPFCz,charge,500,0,0,None,None,None,None,"{'address': {'city': None, 'country': None, 'l...",...,"{'object': 'list', 'data': [], 'has_more': Fal...",None,None,"{'id': 'card_1BcuHS2eZvKYlo2ChQDPSJ8i', 'objec...",None,None,None,failed,None,None
1,ch_1IEadi2eZvKYlo2Cys3obYaq,charge,100,0,0,None,None,None,None,"{'address': {'city': None, 'country': None, 'l...",...,"{'object': 'list', 'data': [], 'has_more': Fal...",None,None,"{'id': 'card_19yUNL2eZvKYlo2CNGsN6EWH', 'objec...",None,None,None,succeeded,None,None
2,ch_1IEada2eZvKYlo2CxdXvylzI,charge,100,0,0,None,None,None,None,"{'address': {'city': None, 'country': None, 'l...",...,"{'object': 'list', 'data': [], 'has_more': Fal...",None,None,"{'id': 'card_19yUNL2eZvKYlo2CNGsN6EWH', 'objec...",None,None,None,succeeded,None,None