<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Stripe -  Get balance
[<button class="lm-Widget p-Widget jupyter-widgets jupyter-button widget-button mod-primary">Open in Naas</button>](https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Stripe/Stripe_Get_balances.ipynb)

In [ ]:
pip install stripe

In [7]:
api_key = "sk_test_4eC39HqLyjWDarjtT1zdp7dc"

In [8]:
import stripe
import pandas as pd

stripe.api_key = api_key

In [11]:
balance = stripe.BalanceTransaction.list(limit=30)
pd.DataFrame(balance.get('data'))

,id,object,amount,available_on,created,currency,description,exchange_rate,fee,fee_details,net,reporting_category,source,status,type
0,txn_1IEadJ2eZvKYlo2CgzaBBAcE,balance_transaction,15000,1612396800,1611840841,usd,None,NaN,465,"[{'amount': 465, 'application': None, 'currenc...",14535,charge,ch_1IEadJ2eZvKYlo2Ci8qk1PSE,pending,charge
1,txn_1IEadC2eZvKYlo2CpAcuJ5iM,balance_transaction,5500,1612396800,1611840834,usd,None,NaN,190,"[{'amount': 190, 'application': None, 'currenc...",5310,charge,ch_1IEadC2eZvKYlo2CqVVFLPWj,pending,charge
2,txn_1IEac22eZvKYlo2CfKZyjyks,balance_transaction,110567,1612396800,1611840761,usd,None,0.769967,3236,"[{'amount': 3236, 'application': None, 'curren...",107331,charge,ch_1IEac12eZvKYlo2CpzBmHh2j,pending,charge
3,txn_1IEabk2eZvKYlo2CrHNbQm9h,balance_transaction,1000,1612396800,1611840744,usd,Created by stripe.com/docs demo,NaN,59,"[{'amount': 59, 'application': None, 'currency...",941,charge,ch_1IEabk2eZvKYlo2Cii0jbVpR,pending,charge
4,txn_1IEabW2eZvKYlo2CBPvVlB5H,balance_transaction,2048,1612396800,1611840729,usd,None,NaN,89,"[{'amount': 89, 'application': None, 'currency...",1959,charge,ch_1IEabV2eZvKYlo2CeekvOyuN,pending,charge