<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Snowflake - Delete table
[![download](https://img.shields.io/static/v1?label=&labelColor=000000&message=Open%20in%20Naas&color=success&logo=image%2Fsvg%2Bxml%3Bbase64%2CPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTAyNHB4IiBoZWlnaHQ9IjEwMjRweCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIj4KIDwhLS0gR2VuZXJhdGVkIGJ5IFBpeGVsbWF0b3IgUHJvIDIuMC41IC0tPgogPGRlZnM%2BCiAgPHRleHQgaWQ9InN0cmluZyIgdHJhbnNmb3JtPSJtYXRyaXgoMS4wIDAuMCAwLjAgMS4wIDIyOC4wIDU0LjUpIiBmb250LWZhbWlseT0iQ29tZm9ydGFhLVJlZ3VsYXIsIENvbWZvcnRhYSIgZm9udC1zaXplPSI4MDAiIHRleHQtZGVjb3JhdGlvbj0ibm9uZSIgZmlsbD0iI2ZmZmZmZiIgeD0iMS4xOTk5OTk5OTk5OTk5ODg2IiB5PSI3MDUuMCI%2BbjwvdGV4dD4KIDwvZGVmcz4KIDx1c2UgaWQ9Im4iIHhsaW5rOmhyZWY9IiNzdHJpbmciLz4KPC9zdmc%2BCg%3D%3D)](https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Snowflake/Snowflake_Delete_table.ipynb)

<img width="20%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/vaqyx6is.png?w=400&h=200&fit=crop"/>

## Step 1 - Insert your credentials

In [1]:
username = "sanjaynaas"
password = "Password123"

## Step 2 - Specify your account details

In [2]:
account = "iz84541.europe-west4.gcp"
database = "DEMO_DB"
table_name = "NAAS_NEW"
warehouse_name = "COMPUTE_WH"
schema_name = "PUBLIC"

## Step 3 - Connecting to Snowflake

In [3]:
from snowflakeconnector import SnowflakeConnector
import snowflake.connector as snow
conn = snow.connect(user=username,password=password,account=account)
cur = conn.cursor()
instance = SnowflakeConnector(username,password,account,database)

Establishing connection to Snowflake
Connection established

## Step 4 - Setting the environment

In [4]:
admin = "USE ROLE SYSADMIN"
cur.execute(admin)
warehouse_selection = "USE WAREHOUSE " + warehouse_name
cur.execute(warehouse_selection)
database_selection = "USE DATABASE " + database
cur.execute(database_selection)
schema_selection = "USE SCHEMA " + schema_name
cur.execute(schema_selection)

## Step 5 - To see existing tables

In [5]:
instance.execute_query("show tables",query_type="pull")

Executing Query
Dataframe:
                                 0         1        2       3      4  5  6   \
0 2020-12-08 21:42:43.982000-08:00      NAAS  DEMO_DB  PUBLIC  TABLE
1 2020-12-11 01:26:48.955000-08:00  NAAS_NEW  DEMO_DB  PUBLIC  TABLE

   7     8         9  10   11   12 13
0  14  1024  SYSADMIN  1  OFF  OFF  N
1   3  1024  SYSADMIN  1  OFF  OFF  N

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2020-12-08 21:42:43.982000-08:00,NAAS,DEMO_DB,PUBLIC,TABLE,,,14,1024,SYSADMIN,1,OFF,OFF,N
1,2020-12-11 01:26:48.955000-08:00,NAAS_NEW,DEMO_DB,PUBLIC,TABLE,,,3,1024,SYSADMIN,1,OFF,OFF,N

## Step 6 - Table deletion

In [6]:
table_deletion = "DROP TABLE " + table_name 
cur.execute(table_deletion)

## Step 7 - Table list after deletion

In [7]:
table_display_query = "SHOW TABLES" 
#Fetch records from Snowflake database
instance.execute_query(table_display_query,query_type="pull")

Executing Query
Dataframe:
                                 0     1        2       3      4  5  6   7   \
0 2020-12-08 21:42:43.982000-08:00  NAAS  DEMO_DB  PUBLIC  TABLE        14

     8         9  10   11   12 13
0  1024  SYSADMIN  1  OFF  OFF  N

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2020-12-08 21:42:43.982000-08:00,NAAS,DEMO_DB,PUBLIC,TABLE,,,14,1024,SYSADMIN,1,OFF,OFF,N